AllowShortBlocksOnASingleLine: Always
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
NamespaceIndentation: Inner
SortIncludes: true
SpaceAfterCStyleCast: true
Standard: c++20
UseTab: Never
IndentWidth: 4
TabWidth: 4
SpaceAfterTemplateKeyword: true
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
SeparateDefinitionBlocks: Always
AllowShortLambdasOnASingleLine: None